<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ammy" version="1.2.94" targetFramework="net462" />
  <package id="Ammy.WPF" version="1.2.94" targetFramework="net462" />
  <package id="Fody" version="3.0.3" targetFramework="net462" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.6" targetFramework="net462" />
</packages>